<a href="https://colab.research.google.com/github/c17hawke/iNeuronAssignments/blob/master/Assignment_4_Python_AdvancedDONE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 4 Questions

## Problem Statement

Q.1 Given a sequence of n values x1, x2, ..., xn and a window size k>0, 
the k-th moving average of the given sequence is defined as follows:

The moving average sequence has n-k+1 elements as shown below.
The moving averages with k=4 of a ten-value sequence (n=10) is shown below

    i 1 2 3 4 5 6 7 8 9 10
    ===== == == == == == == == == == ==
    Input 10 20 30 40 50 60 70 80 90 100
    y1 25 = (10+20+30+40)/4
    y2 35 = (20+30+40+50)/4
    y3 45 = (30+40+50+60)/4
    y4 55 = (40+50+60+70)/4
    y5 65 = (50+60+70+80)/4
    y6 75 = (60+70+80+90)/4
    y7 85 = (70+80+90+100)/4

Thus, the moving average sequence has n-k+1=10-4+1=7 values.

Write a function to find moving average in an array over a window:

Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3.

In [0]:
def moving_average_sequence(arr=None, window=None):
    '''moving average sequence generator'''
    n = len(arr)
    k = window

    # using list comprehension to generate the window and rounding up
    # the results to upto 2 decimal position
    result = [round(sum(arr[i:i+k]) / k, 2) for i in range(n-k+1)]

    # iterate through the result list and print it
    for idx, val in enumerate(result):
        print(f"y{idx+1:02d} {val}")
    return result

In [2]:
arr1 = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
k1 = 4 # window size
_ = moving_average_sequence(arr=arr1, window=k1)

y01 25.0
y02 35.0
y03 45.0
y04 55.0
y05 65.0
y06 75.0
y07 85.0

In [3]:
arr2 = [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150]
k2 = 3 # window size
_ = moving_average_sequence(arr=arr2, window=k2)

y01 5.0
y02 4.67
y03 5.67
y04 6.67
y05 9.67
y06 28.67
y07 49.33
y08 72.67
y09 84.0
y10 93.33
y11 116.33

---
Q.2 How-to-count-distance-to-the-previous-zero
For each value, count the difference back to the previous zero (or the start of the Series,
whichever is closer)
create a new column 'Y'
Consider a DataFrame df where there is an integer column 'X'
    
    import pandas as pd
    df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [0]:
import pandas as pd
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [5]:
dist = 0 # dist variable initialize to zero
temp = [] # temp list to store the distance from zero

# enumerate through the df['X'] column to generate the dist
for _ , val in enumerate(df.X):
    # increment dist for non zero case -
    if val:
        dist += 1
        temp.append(dist)
    # reset dist to zero for zero case -
    else:
        dist = 0
        temp.append(dist)

# create an output column Y in dist for distance from 0 storage
df["Y"] = temp
df

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

---
Q.3 Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of
random numbers.

In [0]:
import numpy as np

In [7]:
# save dates with freq = business days between given range of dates
dates = pd.date_range('2015-01-01','2015-12-31', freq='B') 

# save the size of dates generated above
size = len(dates)

# generate random numbers based on the size of dates column
# and create a dictionary
d = {'dates': dates, "random_data":np.random.randn(size)}

# generate a data frame based on above dictionary
df = pd.DataFrame(data=d)
df

         dates  random_data
0   2015-01-01     0.503709
1   2015-01-02    -1.181752
2   2015-01-05    -1.204178
3   2015-01-06    -0.482599
4   2015-01-07    -1.552708
..         ...          ...
256 2015-12-25     1.596714
257 2015-12-28     1.024899
258 2015-12-29    -1.150647
259 2015-12-30    -1.016180
260 2015-12-31     0.859448

[261 rows x 2 columns]